.parent {
    margin-top: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 25%) 0;
    grid-template-rows: repeat(2, 50%) repeat(3, 0);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 50%;
    }
    @media (max-width: 780px) {
      .parent {
        margin-top: 20%
      }
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 4; }
    .div3 { grid-area: 2 / 2 / 3 / 4; }
    .div4 { grid-area: 1 / 4 / 3 / 5; }
  
    .div1, .div2, .div3, .div4 {
        width: 85%;
        height: 97%;
      border-radius: 10px;
      background-color: #202020;
    }
  
    .div3 {
      margin-top: 10px;
    }
    .div2, .div3 {
      display: flex;
      justify-content: center;
        width: 92%;
        height: 95%;
    }
    @media (max-width: 780px) {
      .div2, .div3 {
        display: flex!important;
        align-items: center!important;
        height: 10rem!important;
        width: 70%!important;
      }
    }
  
    .div1, .div4{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .div1__p{
        display: flex;
        align-items: center;
        color: white;
        font-size: 24px;
      }
    }
  
    .canvas {
      color: white;  
    }

    @media (max-width: 780px) {
      .parent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
        .div1, .div2, .div3, .div4 {
          margin-top: 20px;
          width: 70%;
          height: 100%;
        }
    }

    .Caja__grafico {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 100%;
    }